body{
    background-color: blanchedalmond;
}
h1{
    background-color: rebeccapurple;
    color: white;
}

.green {
    background-color: mediumseagreen;
}

#red{
    background-color:tomato;
}
/* for selecting a class, # is stronger than . */

p{
    text-align: center;
}

<p class="is centered">

.p  ]