h1{
    color:white;
    background-color: black;
    font-size: 40px;
}


h2{
    color: white;
    background-color: blueviolet;
    font-style: italic;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    
}

h3{
    background-color: rgb(84, 174, 238);
    text-decoration: underline;
    color: black;
    text-align: right;
    
}